@font-face {
   font-family: 'Stratum Bold';
   src: url('../assets/fonts/stratum2/stratum2-bold.ttf');
}

@font-face {
   font-family: 'Outfit';
   src: url('../assets/fonts/outfit/Outfit-Regular.ttf');
}