.register{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.register__form{
   width: 400px;
   background: linear-gradient(315deg, #1f0e42, #05064f, #101056) #030556;
   background: -webkit-linear-gradient(315deg, #1f0e42, #05064f, #101056) #030556;
   background: -moz-linear-gradient(315deg, #1f0e42, #05064f, #101056) #030556;
   background: -o-linear-gradient(315deg, #1f0e42, #05064f, #101056) #030556;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 4px 4px 30px 0px #000000df;
   -webkit-box-shadow: 4px 4px 30px 0px #000000df;
   -moz-box-shadow: 4px 4px 30px 0px #000000df;
}

.register__form-title{
   width: 100%;
   height: 40px;
   display: flex;
   align-items: center;
   padding-bottom: 5px;
   justify-content: space-between;
   margin-bottom: 30px;

   svg{
      width: 52px;
      height: 30px;
   }

   p{
      font-size: 20px;
   }
}

.register__input{
   width: 100%;
   height: 45px;
   border-radius: 5px;
   background-color: #000000;
   border: 1px solid #000000;
   padding: 0 10px;
   font-size: 17px;
   transition: all 0.2s;
   -webkit-transition: all 0.2s;
   -moz-transition: all 0.2s;
   -o-transition: all 0.2s;

   &::placeholder{
      font-size: 17px;
      color: #ffffff5e;
   }
}

.register__password{
   width: 100%;
   height: 45px;
   border-radius: 5px;
   background-color: #000000;
   border: 1px solid #000000;
   padding: 0 10px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   transition: all 0.2s;
   -webkit-transition: all 0.2s;
   -moz-transition: all 0.2s;
   -o-transition: all 0.2s;

   input{
      width: 100%;
      height: 100%;
      font-size: 17px;

      &::placeholder{
         font-size: 17px;
         color: #ffffff5e;
      }
   }

   button{
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg{
         width: 25px;
         height: 25px;

         path{
            fill: #ffffff5e;
         }
      }
   }
}

.register__form-actions{
   width: 100%;
   margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.register__btn{
   width: 50%;
   height: 45px;

   span{
      width: 2px;
      height: 2px;
      border-radius: 1px;
   }
}

.register__link{
   font-size: 18px;
   color: #00ff99;
   transition: all 0.2s;
   -webkit-transition: all 0.2s;
   -moz-transition: all 0.2s;
   -o-transition: all 0.2s;

   &:hover{
      color: #00f7ff;
   }
}

@media (max-width: 465px){
   .register__form{
      width: 90%;
   }
}